*{  
    font-family: 'Gothic A1', sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: #050A0D;
    color: #EEE;
}

nav {
    z-index: 10;
}

.container {
    width: 100%;
    padding: 2rem 3rem;
}

.mobile-nav {
    background-color: #02070ada;
    min-width: 200px;
    width: 50%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: none;
    z-index: 20;
}

.mobile-nav > ul {
    list-style: none;
    padding: 3rem 0;
    margin-top: 3rem;
}

.mobile-nav > ul > li {
    padding: 3rem 0;
}

.mobile-nav > ul a {
    display: block;
    color: #EEE;
    text-decoration: none;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 2rem;
    line-height: 3.2rem;
}

.mobile-nav > ul a:hover {
    background-color: rgba(79, 61, 34, 0.87)
}

.nav-button {
    cursor: pointer;
    z-index: 50;
    position: fixed;
}

.nav-button img {
    transition: filter 0.3s;
}

.nav-button img:hover {
    filter: brightness(350%) saturate(0%);
}

.desktop-header {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 50;
    opacity: 1;
    transition: opacity 0.5s;
}

.desktop-header > .container > nav > ul {
    list-style: none;
    display: flex;
}

.desktop-header > .container > nav > ul > li {
    margin-right: 3rem;
}

.desktop-header > .container > nav > ul > li > a {
    text-decoration: none;
    color: #EEE;
    font-size: 2rem;
    line-height: 3.2rem;
    padding: 0 5rem;
    transition: color 0.3s;
    text-transform: uppercase;
}

.desktop-header > .container > nav > ul > li > a:first-of-type {
    padding-left: 0;
}

.desktop-header > .container > nav > ul > li > a:hover {
    color: #FFB950;
}

.bg-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    transform: translateY(-100px);
}

.bg-mobile > img {
    min-width: 260px;
    width: 100%;
}

.bg-mobile > h1 {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
}

.arrow {
    position: absolute;
    right: 0rem;
    bottom: 1rem;
    animation: move-arrow ease-out 1.5s infinite;
    cursor: pointer;
    transition: filter 0.3s;
}

.arrow:hover, .arrow-desktop:hover {
    filter: brightness(200%);
}

.arrow-desktop {
    position: absolute;
    bottom: 2rem;
    right: 8rem;
    animation: move-arrow ease-out 1.5s infinite;
}

.bg-start {
    width: 100%;
    height: 100vh;
}

.bg-desktop {
    display: none;
    background-image: url('../assets/images/bg-desktop-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-top: -6rem;
}

.bg-desktop-img {
    position: relative;
    width: 100%;
}

.bg-desktop-img img {
    width: 100%;
}

.phots-container {
    position: relative;
    min-height: 100vh;
    cursor: pointer;
}

.phots {
    width: 100%;
    
}

.phots > img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.hidden-phot {
    display: none;
    background-color: #000000ee;
    position: absolute;
    top: 0;
    width: 50%;
    min-height: 100%;
    padding: 6rem 8rem;
    text-align: justify;
}

.phot-info {
    text-transform: none;
    display: block;
    color: #EEE;
    font-size: 1rem;
    letter-spacing: 2px;
}

.left-phot {
    left: 0rem;
}

.right-phot {
    right: 0rem;
}

.sub-title {
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.sub-title-2 {
    text-align: left;
    text-transform: uppercase;
    transition: opacity 0.8s;
}

.absolute-title {
    position: absolute;
    padding: 6rem 8rem;
    letter-spacing: 5px;
    font-size: 3rem;
    text-transform: uppercase;
    transition: opacity 0.8s;
    pointer-events: none;
}

.left-title {
    opacity: 0;
    top: 0;
    left: 0;
}

.right-title {
    opacity: 0;
    right: 0;
    bottom: 0;
}

#about {

    min-height: 100vh;  
    padding: 3rem 0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 2.4rem;
}

.text-3 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 2.4rem;
}

.mb {
    margin-bottom: 3rem;
}

#bio {
    padding-bottom: 2rem;
}

.grab {
    cursor: grab;
}

.carousel-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
}

.carousel-container img {
    display: block;
    pointer-events: none;

}

.logo-uni {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}

.logo-uni img {
    width: 100px;
}

.desktop-bio {
    display: none;
}

.slide-item {
    margin-bottom: 5rem;
    padding: 0 0.5rem;
}

.bio-item {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.bio-item img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.name-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-arrow > img {
    width: 20px;
    animation: move-arrow-right ease 1.5s infinite;
}

.project-info {
    display: none;
}

.relative {
    position: relative;
}

.warning-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.warning-screen  p {
    font-size: 2.2rem;
    line-height: 3.5rem;
    max-width: 800px;
    text-align: center;
    margin-bottom: 5rem;
}

.warning-content {
    padding: 30px;
    width: 100%;
    max-height: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.warning-footer {
    margin-top: 5rem;
}

.warning-button {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5rem;
}

.warning-button:hover {
    background-color: white;
    color: #050A0D;
}

.classification-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B147;
    padding: 25px 40px 10px 40px;
    border-radius: 7px;
    font-size: 8rem;
    font-weight: bold;
}

@keyframes move-arrow-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move-arrow {
    0% {
        bottom: 1rem;
    }

    50% {
        bottom: 2rem;
    }

    100% {
        bottom: 1rem;
    } 
}

@media (min-width: 768px) {
    .bg-mobile {
        display: none;
    }

    .bg-desktop {
        display: block;
    }

    .bg-desktop-img img {
        /* transform: translateY(-14rem); */
    }

    /* .lift {
        transform: translateY(-6rem);
    } */
}

@media (min-width: 1024px) {
    .container {
        padding: 3rem 8rem;
        max-width: 1024px;
    }
    .desktop-header {
        display: block;
    }
    .mobile-header {
        display: none;
    }

    .bg-desktop-img img {
        transform: translateY(-12rem);
    }

    .lift {
        /* transform: translateY(-13rem); */
    }

    /* .carousel-container img {
        width: 100vw !important;
        height: 100vh !important;
    } */

    .warning-screen {
        overflow-y: unset;
    }

    .phots > img {
        height: 100vh;
    }

    .desktop-bio {
        display: block;
    }

    .mobile-bio {
        display: none;
    }

    .sub-title-2 {
        font-size: 2rem;
        line-height: 1rem;
        letter-spacing: 2px;
    }

    .text-2 {
        font-size: 1.6rem;
        line-height: 2.5rem;
        letter-spacing: 2px;
    }

    .hidden-phot {
        padding: 6rem 5rem;
    }

    .about-content {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 6rem;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .project-info {
        position: absolute;
        right: 8rem;
        bottom: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
    }
    
    .project-info img {
        width: 20px;
        margin-left: 3rem;
        animation: move-arrow-right ease 1.5s infinite;
    }

    #project {
        position: relative;
        margin-bottom: 20rem;
    }

    #bg-start {
        margin-bottom: 20rem;
    }
    
    #about {
        margin-bottom: 20rem;
    }
}

@media (min-width: 1900px) {
    .sub-title-2 {
        font-size: 4.5rem;
        line-height: 6rem;
        letter-spacing: 5px;
    }

    .text-2 {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 5px;
    }

    .hidden-phot {

        padding: 6rem 8rem;
    }
}

.carousel-container {
    scrollbar-color: rgba(0, 0, 0, 0.308);
    scrollbar-width: 5px;
}

.carousel-container::-webkit-scrollbar{
    height: 5px;
}
  
.carousel-container::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
.carousel-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.308); 
    border-radius: 10px;
}

.warning-content::-webkit-scrollbar {
    width: 5px;
}

.warning-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.308); 
    border-radius: 10px;
}
